<a href="https://colab.research.google.com/github/AndreaHGarrido/edd_1310_2021/blob/master/01Ocubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Intro Python 3**
#Variables
Tipo Dinamic

escuela="FES Aragón"

In [4]:
escuela="FES Aragón"
print(escuela)
print("----")
edad=13
estatura=1.67
fumador=True
frase="""
Esta es una frase de 
multiples lineas y 
tambien es un tipo de dato
"""
print(frase)
nombre = 'jose'
nombre_complet = "jose sosa cardenas"

FES Aragón
----

Esta es una frase de
multiples lineas y
tambien es un tipo de dato

#Print
con comas, con signo mas(+)
con format() y con el operador f""

In [5]:
print (nombre,edad)

jose 13

In [7]:
# + concatena
print(nombre +str(edad))
print(nombre+nombre_complet)

jose13
josejose sosa cardenas

In [11]:
#con formato -> Su nombre es Jose y su edad es 13 años
print("Su nombre es",nombre,"y su edad es de",edad,"años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad))
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad))

Su nombre es jose y su edad es de 13 años.
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [12]:
# con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es jose y su edad es de 13 años.

# Carácter de escape
\n salto de linea

\t tabulador

\a beep

\\"

\\'

In [13]:
"""
Esto es un comentario
de multiple linea
tan tan 
"""
print(f"\tMi nombre es \n\t\t{nombre}")

	Mi nombre es
		jose

#Ayuda de tipos dr dato en python
dir() help()

In [ ]:
#str, int, floa, bool ... list, dict, set
dir(str)

In [19]:
print(nombre_complet.capitalize())
print(nombre_complet.upper(),end="----")
print(nombre_complet.title())

Jose sosa cardenas
JOSE SOSA CARDENAS----Jose Sosa Cardenas

In [ ]:
help(print)

#Clase String
Es manejada como un arreglo (c o java) o lista{python}

telefono="Huawei mate 30 pro"

In [24]:
telefono="Huawei mate 30 pro"
print(telefono[5])

i

#Slicing (rebanado)
[inicio:stop:incremento]
nota: el stop no se incluye, termina en el valor al stop

In [32]:
print(telefono[7:11:1])
#el inicio y el incremento son opcionales
print(telefono[:11:])
#el valor por defecto de stop es len(str)
print(telefono[::])
# incremento negtivo
print(telefono[::-1])
#
print(telefono[-3::1])
#slacing negativo
ini=-3
inc=1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

#Funciones de String(str)
Existen metodos muy utiles en esta clase

In [35]:
facultad ="    facultad de estudios superiores aragon      "
print(facultad)
print(facultad.count("u") ) #cuenta el numero de lementos en la cadena
print(facultad.find("s") ) 
print(facultad.strip() ) #remueve espacio en blanco (al inicio y al final, tambien quita saltos de linea)
tamaño=len(facultad)
print(len(facultad))#regresa la longitud de string
print(f"tamaño de la cadena es {tamaño} caraacteres")
print(facultad.split("t"))

    facultad de estudios superiores aragon
3
17
facultad de estudios superiores aragon
48
tamaño de la cadena es 48 caraacteres
['    facul', 'ad de es', 'udios superiores aragon      ']