<a href="https://colab.research.google.com/github/AndreaHGarrido/edd_1310_2021/blob/master/06Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#String continuación

numeros_txt = "    1,2,3,4  ,5  ,35  ,15  ,12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)


#funcion range()

#range(inicio, stop , incremento )
print(range(0,10,3))
rango = range(1,10,2)

for x in rango:
  print(x)

rango= range(10)  
for x in rango:
  print(x)

#listas
- muebles
- declaran con [ ]
- selector[ int ]
- Pueden ser de cualquier tipo y mezclado

#tuplas
- No mutables
- Se declaran con ( )
-Selector [ int ]

#Diccionarios
- Son mutables
- Son conjunto de paresllave:valor
- Equivalentes a los objetos JSON de JavaScript

#Conjuntos
- representación de la teoria de cojuntos

In [19]:
#Listas
frutas = ["Pera" , "Manzana" , "fresa" , "Kiwi" , "Naranja"]
print(frutas)
cosas = ["cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul" ] ]
print(cosas)
frutas[2]= "Fresa" #frutas[2] = frutas[2].capitalize()
print(frutas)
#agregar a una lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2, "Sandia") #posicionar nuevo objeto a la lista
print(frutas)

#concatenar listas
fecha = ["06","10","2020"]
print(fecha)
#colocar en 06/10/2020
fecha_str = "/".join(fecha)
print(fecha_str)



#help(str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]

In [28]:
#eliminar elementos
cosas = ["cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul" ] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo= cosas.pop()
print(cosas)

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

#vaciar una lista

#cosas.clear()
print(cosas)

# ordenar
print(frutas)
frutas.sort()
print(frutas)

#PARA QUE SORT FUNCIONE, LOS DATOS EN LA LISTA DEBEN TENER CONGRUENCIA ENTRE ELLOS

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [31]:
#Slicing

cosas = ["cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul" ] ]
print(cosas[3:5:1])
print(cosas)
#pregunta de clase sobre selleccion de letras
print(cosas[0][3:5:1]) 

numeros=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13])

#sustituir rebanadas
numeros[8:13:] = [-2,-2]
print(numeros)

#preguntar por existencia
print( -2 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True

#Listas multidimension
Listas dentro de listas

In [39]:
computadora = ["HP","Mac Book Pro 17", "Mate book" , "Lenovo legion"]
oss = ["Windows 10" , "Linux" , "Android" , "iOS"]

computo = [computadora, oss]
print(computo[0]) 
print(computo[1])
print(computo [0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])

dbms =[ ["Mysql" ,"Open Source" , False ], ["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])  #pregumta que no respondi bien unu

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga